body {
    font: normal 20pt arial;
    background-color: rgba(58, 58, 190, 0.788);
    margin:0px
}

header {
    text-align: center;
    color: rgb(173, 147, 147); 
}

section {
    background-color: white ;
    border-radius: 10px;
    margin: auto;
    width: 400px;
    padding: 40px;
    text-align: center;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.616);
    
}

div {
    padding: 10px;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-style: italic;
    color: rgb(173, 147, 147);
}